<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="row header-row">
    <div class="">
      <h1 class="">Overview</h1>
    </div>
  </div>
  <div class="container-fluid">
    <!-- REF: http://stackoverflow.com/questions/21199760/how-do-i-create-iphone-style-bottom-navbar-with-custom-gylph-icons-for-my-bootst -->
    <div class="col-xs-4 text-center">
      <a ng-click="back()" href=""><i class="glyphicon glyphicon-circle-arrow-left" ></i><br>Back
      </a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#"><i class="glyphicon glyphicon-circle-arrow-down"></i><br>Link
      </a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#"><i class="glyphicon glyphicon-circle-arrow-right"></i><br>Link
      </a>
    </div>
  </div>
</nav>
<div class="" style="">
  <ul class="list">
    <li ng-repeat="day in days" class="topcoat-list__item">
      <a ng-click="go('/tracker/' + (day.date | moment:'YYYYMMDD'))">
      <!--<img ng-src="pics/{{employee.pic}}">-->
      <p>{{day.date | moment:'dddd'}} {{day.date | moment:'MMM Do YYYY' }} </p>
      <p>{{day.kcals}} Kcals</p>
      </a>
    </li>
  </ul>
</div>
